{% extends 'base.html' %}

{% block title %}WRTR{% endblock %}
{% block meta %}
<meta charset="UTF-8">
<meta name="description" content="Service for posting plain text" >
<meta name="keywords" content="plaintext,publishing" >
<meta name="author" content="Egor Kuzmichev">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}
<pre>
Here anybody can post their plain text without ability to edit or delete, and then get public permanent url on it.
You can then get that text in browser or in console, i.e. 
curl <a href="http://wrtr.gq/1/">http://wrtr.gq/1/</a>
</pre>
<form method="POST">
	{% csrf_token %}
	<textarea name="text"></textarea>
	<p>
	<input type="submit" value="Make it!">
	</p>
</form>
<hr>
<pre>
<a href="https://github.com/aeifn/wrtr/">GitHub</a>
</pre>
{% endblock %}
