{% extends 'base.html' %}

{% block content %}

<h1>WRTR</h1>
<pre>
Here anybody can post their plain text without ability to edit or delete, and then get public permanent url on it.
You can then get that text in browser or in console, i.e. 
curl <a href="http://wrtr.gq/1/">http://wrtr.gq/1/</a>
</pre>
<form method="POST">
	{% csrf_token %}
	<textarea name="text"></textarea>
	<p>
	<input type="submit" value="Make it!">
	</p>
</form>
<hr>
<a href="https://github.com/aeifn/wrtr/">GitHub</a>
{% endblock %}
